body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #0A192F;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A192F;
    padding: 15px 50px;
    border-bottom: 1px solid #1F426E;
    position: fixed;
    width: 100%;
    padding: 5px 50px;
    height: 85px;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 100px;
    object-fit: contain;
    width: auto;
}

.site-title {
    color: #E7F4FF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #FF9D00;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #FF9D00;
    transition: width 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
}